/* Responsive styles for tablets and mobile devices */
@media (max-width: 1024px) {

    #banner_page {
        height: 500px;
        width: 100% !important;

    }

    #banner_page .head {
        width: 90%;


    }

    #banner_page .head h1 {
        font-size: 1.75rem;

    }

    #banner_page .head h3 {
        font-size: 0.75rem;

    }

    #banner_page .head .button {
        margin-top: 1.5rem;

        padding: 0.5rem 0.75rem;

    }

    #banner_page .arrow_down {
        width: 24px;
        height: 24px;
        bottom: 1.5rem;

    }

    /* // service page banner */
    #banner_page #bannerservices {
        margin: auto;

        backdrop-filter: blur(0) !important;
        background: #ffffffa3 !important;
    }

    #banner_page #bannerservices h1 {
        font-size: 20px;

    }

    #banner_page #bannerservices h3 {
        font-size: 15px;

    }

    #banner_page #bannerservices p {

        font-weight: 700 !important;

    }

    /* // card design */
    #types_card .card_item_wrapper {
        min-width: calc(50% - 15px);

    }

    #types_card .button.small {
        font-size: 10px !important;
        padding: 1em 2em !important;
        font-size: 7px !important;
    }

    #types_card .content p {
        font-size: 11px !important;
    }

    #types_card .card_item_wrapper {
        /* padding: 2px; */
        padding: 8px;
    }
}

@media (max-width: 768px) {

    #banner_page .head {
        width: 95%;

        /* Full width with small margin */
    }

    #banner_page .head h1 {
        font-size: 24px;
        /* Smaller font size */
    }

    #banner_page .head h3 {
        font-size: 12px;
        font-weight: 300 !important;
        /* Smaller font size */
    }

    #banner_page .head .button {
        margin-top: 1rem;
        /* Adjust margin */
        padding: 0.5rem 0.75rem;
        /* Adjust padding */
    }

    #banner_page .arrow_down {
        width: 20px;
        /* Smaller arrow */
        height: 20px;
        /* Smaller arrow */
        bottom: 1rem;
        /* Adjust bottom position */
    }


    /* // service page banner */
    #banner_page #bannerservices {
        margin: auto;


    }

    #banner_page #bannerservices h1 {
        font-size: 18px;
        /* Smaller font size */
    }

    #banner_page #bannerservices h3 {
        font-size: 14px;
        /* Smaller font size */
    }

    /* // card resposve */
    #types_card .card_item_wrapper {
        min-width: calc(100% - 15px);
        /* 1 card per row */
    }

    #types_card .button.small {
        font-size: 10px !important;
        padding: 1em 2em !important;
        font-size: 7px !important;
    }
}

@media (max-width: 580px) {


    #banner_page .head {
        width: 100%;
        /* Full width */
    }

    #banner_page .head h1 {
        /* font-size: 1.25rem; */
        font-size: 18px;
        font-weight: 800;

    }

    #banner_page .head h3 {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5em;

    }

    #banner_page .head p {
        font-size: 12px;

    }


    #banner_page .head .button {
        margin-top: 0.1rem;

        padding: 0.4rem;

        font-size: 8px;
    }

    #banner_page .arrow_down {
        width: 16px;
        /* Smaller arrow */
        height: 16px;
        /* Smaller arrow */
        bottom: 0.5rem;
        /* Adjust bottom position */
        display: none;
    }

    .banner_sub_section {
        margin-bottom: 100px;
    }

    #banner_page #bannerservices {
        margin: auto;
        padding: 20px 15px;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center content vertically */
    }

    #banner_page #bannerservices h1 {
        font-size: 16px;
        /* Smaller font size */
    }

    #banner_page #bannerservices h3 {
        font-size: 12px;
        /* Smaller font size */
    }

    /* //card design */
    #types_card .card_item_wrapper {
        min-width: calc(100% - 10px);
        /* 1 card per row with reduced spacing */
    }



    #types_card .bg {
        height: 150px;
        /* Adjust height for very small screens */
    }

    #types_card .content {
        padding: 5px;
        /* Adjust padding for very small screens */
    }

    #types_card .content h3 {
        font-size: 1rem;
        /* Smaller font size */
    }

    #types_card .content p {
        font-size: 0.875rem;
        /* Smaller font size */
    }

    #types_card .button.small {
        font-size: 10px !important;
        padding: 1em 2em !important;
        font-size: 7px !important;
    }


}

@media (max-width: 480px) {


    #banner_page .head {
        width: 100%;
        /* Full width */
    }

    #banner_page .head h1 {
        /* font-size: 1.25rem; */
        font-size: 15px;
        font-weight: 700;

    }

    #banner_page .head h3 {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5em;

    }

    #banner_page .head p {
        font-size: 12px;

    }


    #banner_page .head .button {
        margin-top: 0.1rem;

        padding: 0.4rem;

        font-size: 8px;
    }

    #banner_page .arrow_down {
        width: 16px;
        /* Smaller arrow */
        height: 16px;
        /* Smaller arrow */
        bottom: 0.5rem;
        /* Adjust bottom position */
        display: none;
    }

    .banner_sub_section {
        margin-bottom: 100px;
    }

    #banner_page #bannerservices {
        margin: auto;
        padding: 20px 15px;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center content vertically */
    }

    #banner_page #bannerservices h1 {
        font-size: 16px;
        /* Smaller font size */
    }

    #banner_page #bannerservices h3 {
        font-size: 12px;
        /* Smaller font size */
    }

    /* //card design */
    #types_card .item_wrapper {
        min-width: calc(100% - 10px);
        /* 1 card per row with reduced spacing */
    }





    #types_card .bg {
        height: 150px;
        /* Adjust height for very small screens */
    }

    #types_card .content {
        padding: 5px;
        /* Adjust padding for very small screens */
    }

    #types_card .content h3 {
        font-size: 1rem;
        /* Smaller font size */
    }

    #types_card .content p {
        font-size: 0.875rem;
        /* Smaller font size */
    }

    #types_card .button.small {
        font-size: 10px !important;
        padding: 1em 2em !important;
        font-size: 7px !important;
    }


}


@media (max-width: 375px) {
    #banner_page .head h1 {
        font-size: 13px;
        font-weight: 700;

    }

    #banner_page .head h3 {
        font-size: 9px;
        font-weight: 300;
        line-height: 1.5em;

    }

    #banner_page .head p {
        font-size: 12px;

    }
}