.sidebar_tabs {
    position: fixed;
    display: block;
    width: 100%;
    height: 10%;
    padding: 19px 0px;
    top: 60px;
    background: #004f8f;
    text-align: center;
    z-index: 1;
}

.sidebar_tabs ul {
    /* padding: 0; */
    list-style: none;
    /* margin: 0; */
    display: inline-block;
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.sidebar_tabs ul li {
    width: calc(16.666% - 10px);
    float: left;
    margin: 0;
    text-align: left;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.sidebar_tabs ul li[active] {
    background-color: #03a9f4;
    border-radius: 6px;
    color: #fff;
    border: 2px solid #88daff;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.sidebar_tabs ul li:hover {
    background-color: #03a9f4;
    border-radius: 6px;
    /* padding: 10px 10px; */
    color: #fff;
    border: 2px solid #88daff;
    justify-content: center;
    text-align: center;
    height: 40px;
    transition: .3s ease-in-out;



}

.sidebar_tabs ul li .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.sidebar_tabs ul li .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.section {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px rgb(0 0 0 / 35%);
}


#employees {
    justify-content: center;
    text-align: center;
}

#employees label {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

#employees .review {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    text-align: justify;

}

#employees .option li {
    /* padding: 10px 50px; */
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-top: 20px;
    /* margin-left: 15px; */
}


#sec_wiz_2 {

    width: 70%;
    margin: auto;
    margin-top: 60px;
    height: auto;
    margin-bottom: 150px;
}

.products .item_wrapper {
    position: relative;
    display: inline-block;
    width: 33%;
    margin: auto;
    white-space: normal;
    padding: 10px;
}


.progressbar_userpannel {
    position: relative;
    top: 150px;
    width: 95%;
    margin: auto;

}

.progressbar_userpannel .progressbarproviders {
    position: relative;
    left: 0px;
}




/* //Location */
#over_banners {
    width: 100%;
    margin: auto;
    margin-top: 140px;
}

#over_banners .location-container{
    width: 40%;
    margin: auto;
}

/* #over_banners .location-container .locations{
    width: 40%;
    margin: auto;
} */

.gender.selected,
.time_option.selected {
  background-color: blue; /* Set the background color to blue for selected items */
  color: white; /* Set the text color to white for better visibility */
}


@media (max-width:768px) {
    .sidebar_tabs{
        display: none !important;
    }
    .section {
        width: 97% !important;
        margin: auto;
        margin-top: -70px !important;
        margin-bottom: 200px;
        background-color: #fff;
        padding: 80px;
        border-radius: 10px;
        box-shadow: 2px 2px 15px -5px rgb(0 0 0 / 35%);
    }
    #employees .option li {
        padding: 10px 15px !important;
        padding-left: 60px !important;
        height: 42px;
        display: inline-block;
        width: auto;
        font-size: 15px !important;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        border: 1px solid #ccc;
        border-radius: 25px;
    }
    #employees .option li .icon {
        position: absolute;
        top: 4px;
        left: 8px !important;
        width: 21px !important;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .progressbar_userpannel .progressbarproviders {
        position: relative;
        left: 0px;
        top: -101px !important;
    }

    .products .item_wrapper {
        position: relative;
        display: inline-block;
        width: 100% !important;
        margin: auto;
        white-space: normal;
        padding: 4px !important;
    }
}